body {
    background: rgba(0, 0, 0, 0.7) url(https://imgs.search.brave.com/32nRLUYnG5SlRtHrwV_WotbPYWRJqoKrRYQndZHHkJU/rs:fit:895:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5l/aEVBUUFGX00yZjZT/WmJ3QzZhem5nSGFE/NyZwaWQ9QXBp);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    font-family: Gabriela;
    width: 99%;
    height: 100%;
}
.head {
    text-align: center;
    color: bisque;
}

#title {
    font-size: 40px;
}

#description {
    font-style: italic;
}
#survey-form {
    background: #0e0d14;
    border-radius: 1%;
    margin: 35px 28% 0 28%;
    display: flex;
    flex-direction: column;
    padding: 40px 60px 60px 50px;
}
.form-fill {
    display: flex;
    flex-direction: column;
    color: bisque;
    font-size: 20px;
    border-radius: 10px;
}

input {
    height: 35px;
    border-radius: 5px;
    border: 0;
}

input::placeholder {
    font-family: Gabriela;
    font-style: italic;
}

select {
    height: 40px;
    border-radius: 5px;
    font-family: inherit;
    font-size: medium;
    font-style: italic;
    color: #84878a;
    border: 0;
}

textarea {
    height: 100px;
    font-family: inherit;
    font-style: italic;
    color: #84878a;
    border-radius: 5px;
}

#submit {
    color: bisque;
    background-color: #4d60cc;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-size: larger;
}

@media (max-width: 800px) {
    #survey-form {
        padding: 20px;
        margin-left: 30px;
        margin-right: 40px;
    }
}
